<!DOCTYPE html>
<html lang="uk">
<head>
  {{> head pageTitle=pageTitle pageDescription=pageDescription }}
</head>
<body>
  <a class="skip-link" href="#main">Перейти до основного контенту</a>
  <div class="layout">
    {{> header isHomePage=isHomePage isAboutPage=isAboutPage isContactsPage=isContactsPage }}
    {{> aside }}
    <main id="main" class="main">
      {{> @partial-block }}
    </main>
    {{> footer studentGroup=studentGroup studentEmail=studentEmail }}
  </div>
  <script type="module" src="/src/main.js"></script>
</body>
</html>
